@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Sora:wght@100..800&display=swap");

$primary: #ff7300;
$accent: #453b6f;
$background: #ffefef;
$button: #21068f14;
$upload: #4e55af;
$modelCard: #453b6f3f;

.container {
  width: 100%;
  height: 100vh;
  background: $background;
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.main {
  text-align: center;
  padding: 2vh 2vw;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  color: $accent;
}

.subtitle {
  font-size: 2rem;
  color: $accent;
  margin-top: 1vh;
  font-weight: 500;
}

.mid_link {
  color: $primary;
}

.description {
  font-size: 1.5rem;
  color: $accent;
  margin-top: 2vh;
  font-weight: 400;
}

.highlight {
  color: $primary;
  font-weight: 400;
  text-decoration: none;

  &:hover {
    color: $accent;
    transition: all 0.2s;
  }
}

.check {
  margin-top: 2vh;
  margin-bottom: -2vh;
  font-size: 1.5rem;
  color: $accent;
  font-weight: 400;
}

.contribute {
  margin-top: 22vh;
  font-size: 1.3rem;
  font-weight: 300;

  color: $accent;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin-top: 1vh;

  a {
    margin: 0 1.5vw;
    margin-top: 1vh;
    display: inline-block;
    width: 2vw;
    height: 3.5vh;
    transition: transform 0.2s ease;
    opacity: 80%;

    &:hover {
      transform: scale(1.1);
      opacity: 100%;
    }

    img {
      width: 150%;
      height: 150%;
      transform: translate("-50%", "-50%");
    }
  }
}

@media (max-width: 600px) {
  .main {
    padding: 1vh 4vw;
    margin-top: 7vh;
  }

  .contribute {
    margin-top: 5vh;
  }

  .socialIcons {
    display: flex;
    justify-content: center;
    margin-top: 2vh;

    a {
      margin: 0 4vw;
      margin-top: 1vh;
      display: inline-block;
      width: 7vw;
      height: 3vh;
      opacity: 100%;

      img {
        width: 150%;
        height: 150%;
      }
    }
  }
}
