@use "App.module.scss";

.container {
  width: 100%;
  height: 100%;
  background: App.$background;
  padding: 1rem;
  margin: 0;
}

.title {
  text-align: left;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: "Sora", sans-serif;
  color: App.$accent;
}

.catalogueGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 5rem;
  padding: 1rem 0;
}

.modelCard {
  background-color: App.$modelCard;
  border-radius: 8px;
  padding: 1.5rem;
  transition: all 0.2s ease-in-out;
  font-family: "Sora", sans-serif;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    transform: translateY(-5px);
    background-color: #ff730086;
    h2 {
      color: black;
    }
    p {
      color: black;
    }
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }

  h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: App.$accent;
  }

  p {
    margin: 0;
    font-size: 1rem;
    color: App.$accent;
  }
}

