.displayPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.mainContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  position: relative;
}

.imageContainer {
  display: flex;
  justify-content: center;
  background-color: #dddef4;
  border: 2px dashed #4e55af;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0rem 0rem 10rem 5rem rgba(123, 111, 215, 0.2);
  width: auto;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.confirmButton {
  position: absolute;
  right: -13vw;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  background-color: #dddef4;
  color: #4e55af;
  border: 2px solid #4e55af;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #4e55af;
    color: white;
  }
}

.coordinates {
  background-color: white;
  margin-top: 20px;
  padding: 15px;
  border: 2px solid #4e55af;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 20px;
  font-size: 18px;
  color: #4e55af;

  span {
    font-weight: bold;
  }
}

.instructions {
  margin-top: 25px;
  font-size: 18px;
  color: #4e55af;
  background-color: #dddef4;
  text-align: center;
  padding: 0px 15px;
  border-radius: 20px;
}
