@use 'App.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Sora:wght@100..800&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: App.$background;
  font-family: "Sora", sans-serif;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
  color: App.$accent;
  font-family: "Sora";

  a {
    text-decoration: none;
    color: App.$accent;

    &:hover {
      color: App.$accent;
    }
  }
}

.navLinks {
  display: flex;
  list-style: none;
  color: App.$accent;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 1rem;

  li {
    margin-left: 2rem;
    margin-right: 2rem;

    a {
      text-decoration: none;
      color: App.$accent;
      transition: color 0.3s ease;

      &:hover {
        color: App.$accent;
      }

      &.active {
        color: #3c2670;
      }
    }
  }
}
